<%= form_for @thesis, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :call_number, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :call_number, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :course, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :course, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :year, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :year, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :last_name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :last_name, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :given_name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :given_name, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :pages, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :pages, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  theses_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
